body {
    background-color: darkblue;
   
    font-family: 'Courier New', Courier, monospace;
    font-size:25px;
    display: flex;
    align-items: center;
}

.game {
    position: absolute;
    background-color: grey;
    max-width: 500px;
    margin:0;
    padding:15px;
    border-radius:10px;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
}

input {
    padding:10px;
    font-size:16px;
    width:100px;
}

button {
    padding:8px;
    margin:8px;
    background:green;
    color:white;
    border:none;
    border-radius:12px;
    width:65px;
    cursor:pointer;
}
button:hover{
    background:darkgreen;
}

#secretButton:hover{
    background:darkgreen;
}

#secretButton{
    padding:8px;
    margin:8px;
    border:none;
    border-radius:10px;
    width:auto;
    cursor:pointer;
    background:green;
}
#hint {
    font-weight: bold;
    margin: 10px 0;
    font-size:16px; 
  }